{% extends "templates/base.html" %}
{% block top-image %}/img/about-bg.jpg{% endblock %}
{% block metadata-title %}About {% endblock %}

{% block content %}
  <!-- Main Content -->
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>13 anos de experiência como Programador Web e Mobile, Proprietário da empresa Devlandia com sede em Curitiba, Bi-Campeão de Fifa15 no modo Ultimate</p>
            <p>Eu prefiro ser essa metamorfose ambulante; do que ter aquela velha opinião formada sobre tudo.</p>
            <p>Minha Missão Pessoal é fazer valer a pena a vida que ganhei de DEUS, sendo um marido fiel e amoroso, um pai presente e um amigo/filho que reflita o caráter de Jesus. Investindo meus talentos e sendo um mordomo fiel para multiplicar em outros a vida que DEUS me deu.</p>
            <p>Cristão convicto e confesso, “por amor às causas perdidas”.</p>

            <h3>An excerpt from linkedin:</h3>
            <p>Since I was a teenager the development, creativity and improvisation are in my blood.</p>
            <p>Like every other self-taught, I started by myself playing acoustic guitars and piano as well writing software.</p>
            <p>I've started writing software with Visual Basic and Delphi! Wow, I still remember the big Delphi's bible I had to read in order to get better. I've spent some good amount of nights awake reading and coding, what was showing me how would be my future.</p>
            <p>Following that I moved to the web with hard coded HTML, using Windows Notepad (I've not met the love of my life until few years later, VIM).</p>
            <p>In my first job, my boss offered me an amazing desk and a Desktop with Linux, a slow computer and  VIM as the main editor. Really? I loved! I still love to spend times in the black and green screen.</p>
            <p>Years went fast, nowadays I have a great Software Development team in my company in Curitiba/Brazil. We call it Devlandia | the Land of the happiest developers on earth.</p>
            <p>I’m fluent in english and in spanish.</p>
            <p>My work experience include the use of: Ruby/Rails (Active Record and/or Datamapper); Perl; BASH; SQL and database design; Queue services (Active MQ/RabbitMQ/SQS); Agile Process; Github; AWS SDK; Cloud computing automation; Configuration management (such as Chef, Vagrant, Capistrano and Puppet); High volume query indexes (such as Apache Lucene/SOLR and Elastic Search); and I've been into Clojure lately.</p>
            <p>I've also worked with some other languages/technologies/methods, ObjectiveC, PHP, MYSQL, HTML, CSS, Js, As, Flex, Ajax, Tableless, Linux, PostgreSQL, as well some frameworks as Symfony and Cakephp.</p>
          </div>
      </div>
  </div>
{% endblock %}
