{% extends "templates/base.html" %}
{% block top-image %}/img/home-bg.jpg{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in posts %}
                <div class="post-preview">
                    <a href="{{post.permalink}}">
                        <h2 class="post-title">
                          {{post.title}}
                        </h2>
                    </a>
                    {{post.short}}... <i><a href="{{post.permalink}}">[continue lendo]</i></a>
                      <p class="post-meta">Posted by <a href="#">{{post.author|title}}</a> on {{post.date|date:fullDate}}</p>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
