{% extends "templates/base.html" %}
{% block top-image %}/img/post-bg.jpg{% endblock %}
{% block metadata-title %}{{title|safe}} by  {% endblock %}
{% block metadata-description %}{{short|safe}}{% endblock %}

{% block content %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {{html|safe}}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
